<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="d-flex my-5">
        <%= image_tag "https://www.sippitysup.com/wp-content/uploads/drupal-images/salmontroisgros1.jpg", width: "320", class: "rounded-circle mr-5 flex-grow shadow object-fit-cover", alt: "restaurant" %>
        <div class="d-flex flex-column justify-content-center" >
          <h1><%= @restaurant.name %></h1>
          <h4><%= @restaurant.address %></h4>
        </div>
      </div>
      <div class="border-bottom my-3"></div>

      <h2>
        <%= pluralize @restaurant.reviews.size, "review" %>
      </h2>
      <%= simple_form_for([ @restaurant, @review ]) do |f| %>
        <%= f.input :content, as: :text, label: false %>
        <%= f.submit "Leave a review", class:"btn btn-primary"%>
      <% end %>

      <div id="reviews" class="my-5">
        <% if @restaurant.reviews.blank? %>
        <div class="text-secondary">
          Be the first to leave a review for <%= @restaurant.name %>
        </div>
        <% else %>
          <% @restaurant.reviews.reverse.each do |review| %>
            <p class="p-3 mb-1 bg-white" ><%= review.content %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
